<% @posts.each do |post| %>
  <ul>
    <li><%= post.title %></li>
    <% if user_signed_in? %>
      <li><%= User.find_by_id(post.user_id).email %></li>
      <% end %>
    <li><%= post.body %></li>
  </ul>
<% end %>